.icon_box_ten {
    background-color: transparent;
    padding: 0;
    margin: 25px 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
  }

  .icon_box_ten .content {
    margin-top: 0;
    padding: 10px 25px 25px
  }

  .icon_box_ten .content h4 {
    color: #fbdd9e;
    margin-bottom: 15px;
    text-transform: capitalize;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }


  .icon_box_ten li{
    list-style-type: none;
    font-size: 15px;
    text-align: left;
  }



  .T-img img{
        padding-top: 30px;
         padding-bottom: 30px;
  }
  #T4 span{
       color:red;
  }
  .color h3{
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        color: #fbdd9e;
  }

